.background {
    width: 468.32px;
    height: 581.15px;
    background-image: url('../Images/Login/Celular/fondoCelu.png');
    background-size: 468.32px 634.15px;
    position: relative;
}

.cambioImg {
    height: 570.15px;
    right: 15px;
    top: 20px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: 260px 550.15px;
    background-image: url('../Images/Login/Celular/pantalla1.png');
    position: absolute;
    animation: cambioImagen ease-in-out infinite 30s;
}

@keyframes cambioImagen {
    8.33% {
        background-image: url('../Images/Login/Celular/pantalla2.png');
    }

    16.66% {
        background-image: url('../Images/Login/Celular/pantalla1.png');
    }

    24.99% {
        background-image: url('../Images/Login/Celular/pantalla3.png');
    }

    32.33% {
        background-image: url('../Images/Login/Celular/pantalla2.png');
    }

    40.66% {
        background-image: url('../Images/Login/Celular/pantalla1.png');
    }

    48.99% {
        background-image: url('../Images/Login/Celular/pantalla3.png');
    }

    57.32% {
        background-image: url('../Images/Login/Celular/pantalla2.png');
    }

    65.65% {
        background-image: url('../Images/Login/Celular/pantalla1.png');
    }

    73.98% {
        background-image: url('../Images/Login/Celular/pantalla3.png');
    }

    82.31% {
        background-image: url('../Images/Login/Celular/pantalla2.png');
    }

    90.64% {
        background-image: url('../Images/Login/Celular/pantalla1.png');
    }

    100% {
        background-image: url('../Images/Login/Celular/pantalla3.png');
    }
}