.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 52px 0px;
}

.containerTextos {
    margin-bottom: 18px;
}

.containerTextos span {
    margin: 0 8px;
    font-size: 12px;
    color: #8e8e8e;
    cursor: pointer;
}

.instagram span {
    font-size: 12px;
    color: #8e8e8e;
    cursor: pointer;
}